body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    background-color: black;
    cursor: none !important;
}
a{
    cursor:none;
}
header a:hover,
.hero-section a:hover,
.my-projects a:hover{
    anchor-name: --cursor-hovered;
}
html{
    scroll-behavior: scroll !important;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #001f7c38;
}


.bg-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -2;
}


header{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.121);
    -webkit-backdrop-filter:blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #72a1dea2;
    z-index: 999;
    box-sizing: border-box;
    padding-inline: 2rem;
}

.header-left{
    display: flex;
    align-items: center;
}


header ul{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* gap:1rem; */
    anchor-name: --cursor-hovered;
}
header ul::after{
    content: "";
    position: absolute;
    left:anchor(left);
    right:anchor(right);
    top:anchor(top);
    bottom:anchor(bottom);
    z-index: -1;
    border-radius: 10px;
    background-color: rgba(0, 0, 69, 0.326);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #72a1de63;

    position-anchor: --cursor-hovered;

    transition: all 0.1s linear;
}

header ul li{
    list-style: none;
}

header ul li a{
    padding-inline: 1rem !important;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    padding: 10px;
}

.box-icons{
    display: flex;
    gap: 40px;
}

.box-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #72a1de;
    border-radius: 50%;
    transition:all 0.5s;
    color:white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.box-icons a:hover{
    anchor-name: --link-hovered;
}
.box-icons a::after{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 0%;
    z-index: -1;
    transition: all 0.3s ease;
}

.box-icons a:hover::after{
    transition: all 0.3s ease;
    height:100%;
}

.box-icons a:nth-child(1):hover::after{
    background: linear-gradient(135deg,purple,rgb(207, 9, 207),red,orange,yellow);
}
.box-icons a:nth-child(2):hover::after{
    background: white;
}
.box-icons a:nth-child(2):hover i{
    color: black;
}
.box-icons a:nth-child(3):hover::after{
    background: rgb(0, 128, 247);
}

.blackhole-cont{
    width:100%;
    position: absolute;
    top:0;
    transform: translateY(-50%);
    z-index: -1;
    mix-blend-mode: lighten;
}
.blackhole-cont video{
    width: 100%;
}

.hero-section{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: -100px;
    align-items: center;
    justify-content: space-between;
}

.hero-info{
    position: absolute;
    left: 5%;
}

.hero-info .hero-info-title{
    color: #72a1de;
    padding: 8px 5px;
    border-radius: 50px;
    border: 1px solid #72a1de94;
    width: 240px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de84;
}

.hero-info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hero-info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}

.hero-info .btn1{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de81;
    transition: 0.3s;
    text-decoration: none;
}

.hero-info .btn1:hover{
    box-shadow: 0 0 15px #72a1de81;
}

.gradient{
    background: linear-gradient(to right,#00aaa7, #7e42a7, #6600c5, #6070fd,#2a46ff, #0099ff, #008ead);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient {
    to{
        background-position: 200%;
    }
}

.scroll-icon {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    font-size: 40px;
    animation: scroll-down 2s linear infinite;
}

@keyframes scroll-down {
0% {
    opacity: 0;
}
30% {
    opacity: 1;
}
60% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

.info-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 100px;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.card{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #080020b7;
    border-radius: 20px;
    transition: 0.5s;
}

.card h1{
    font-size: 25px;
    z-index: 1;
    color: lightgray;
}

.card p{
    display:flex;
    max-width: 90%;
    color: #fdfdfd8f;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
}

.card img{
    width: 80%;
    height: 50%;
    object-fit: contain;
}

.card video{
    margin-top: 10%;
    width: 70%;
    height: 50%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.card button{
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    transition: 0.3s;
}

.card button:hover{
    box-shadow: 0 0 15px lightgray;
    opacity: 0.7;
}

.card:hover{
    box-shadow: 0 0 15px rgb(211, 211, 211);
}

.card:nth-child(3){
    grid-row: span 2;
    justify-content: space-around;
}
.card:nth-child(3) img{
    height:90%;
}

.card:nth-child(4){
    grid-column: span 2;
}

.card:nth-child(4) p{
    max-width: 90%;
}



.my-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project-card {
    display: flex;
    width: 100%;
    height: 40%;
    gap:5%;
    margin-bottom:30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-vid-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    mix-blend-mode:exclusion;
    position: relative;
    transition: 0.5s;
}

.project-vid-cont video{
    object-fit: contain;
    width: 100%;
    min-height: 230px;
    box-shadow: 0 0 10px lightgray;
    border-radius: 20px;
    transition: 0.5s;
}

.project-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 45%;
}

.project-info h1{
    width: 90%;
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 450px;
}

.project-info p{
    width: 90%;
    margin-bottom: 50px;
    margin-top: 0;
}

.project-info a{
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de81;
    transition: 0.3s;
}

.project-info a:hover{
    opacity: 0.8;
    box-shadow: 0 0 15px #72a1de81;
}

/* Skills section */
.skills-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width:80%;
    height:100%;
}

.skills-cont{
    width: 100%;
    max-height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10vh;
}
.skills-vid-cont{
    width:100%;
    height:100%;
    position: absolute;
    top:8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-vid{
    min-width: 70%;
    overflow: hidden;
    mix-blend-mode:exclusion;
}

.designer-cont{
    display: flex;
    flex-direction: column;
    align-items: start;
    width:100%;
    /* max-width: 35%; */
    /* height:fit-content; */
    border-radius: 10px;
    padding:1rem;
    border:2px solid white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.designer-cont h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    width:100%;
}

.designer-cont p{
    line-height: 25px;
    color:white;
    text-align: justify;
    font-size:1.2rem;
}


.coder-cont{
    display: flex;
    flex-direction: column;
    align-items: start;
    width:100%;
    /* max-width: 35%; */
    /* height:fit-content; */
    border-radius: 10px;
    padding:1rem;
    border:2px solid white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.coder-cont h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    width:100%;
}

.coder-cont p{
    line-height: 23px;
    color:white;
    text-align:justify;
    font-size: 1.2rem;
}
.gradient2{
    background-image: linear-gradient(to right,white,gray,white );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient2 5s linear infinite;
}
@keyframes animate-gradient2 {
    to{
        background-position: -200%;
    }
}


/* SLIDER  */

.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    -webkit-mask-image:linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    mix-blend-mode:difference;
    opacity: 0.7;
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.slider .list .item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}


  /* CONTACT SECTION */
.contact-section{
    display: flex;
    justify-content: center;
    width: 100%;
    height:350px;
    position: relative;
    /* background-color: black; */
    mix-blend-mode: exclusion; 
    ul{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        display:flex;
        margin:0;
        padding:0;
        width:80%;
        flex-wrap: wrap;
        gap:2rem;
        justify-content: center;
    }

    ul li {
        list-style:none;
        margin:5px;
        width:20%;
        display:flex;
        flex-basis: 190px;
    }
    
    ul li a span {
        padding:0;
        margin:0;
        position:absolute;
        top: 30px;
        color: #d4d4d4;
        letter-spacing: 4px;
        transition: .5s;
    }
    
    ul li a {
        flex-basis: auto;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
        display:absolute;
        display:block;
        min-width: 200px;
        width:100%;
        height:80px;
        background: #000;
        text-align:left;
        padding-left: 20px;
        transform: rotate(-30deg) skew(25deg) translate(0,0);
        transition:.5s;
        box-shadow: -20px 20px 10px rgba(255, 255, 255, 0.5);
    }
    ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #474747;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
    }
    ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #5a5a5a;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
    }

    ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(255, 255, 255, 0.5);
    }

    ul li:hover .bx {
        color:#fff !important;
    }

    ul li:hover span {
        color:#fff;
    }

    ul li:hover:nth-child(1) a{
    background: #2e2f2f;
    }
    ul li:hover:nth-child(1) a:before{
    background: #141515;
    }
    ul li:hover:nth-child(1) a:after{
    background: #363738;
    }

    ul li:hover:nth-child(2) a{
    background: #00aced;
    }
    ul li:hover:nth-child(2) a:before{
    background: #097aa5;
    }
    ul li:hover:nth-child(2) a:after{
    background: #53b9e0;
    }

    ul li:hover:nth-child(3) a{
    background: #ff0000;
    }
    ul li:hover:nth-child(3) a:before{
    background: #b31804;
    }
    ul li:hover:nth-child(3) a:after{
    background: #ea4630;
    }

    ul li:hover:nth-child(4) a{
    background: #e4405f;
    }
    ul li:hover:nth-child(4) a:before{
    background: #d81c3f;
    }
    ul li:hover:nth-child(4) a:after{
    background: #e46880;
    }
}
#circle{
    display:none;
}
#d-circle{
    display:none;
}

@media (max-aspect-ratio: 16/9){
    .bg-vid{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9){
    .bg-vid{
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width:780px){
    body{
        cursor: none;
    }
    .my-projects .project-card .Blur:hover a video{
        filter: blur(5px);
    }
    body:has(header ul li:hover) #d-circle,
    body:has(.container .hero-section a:hover) #d-circle,
    body:has(.container .project-card a:hover) #d-circle{
        position-anchor: --cursor-hovered;
        top: anchor(top);
        left: anchor(left);
        right:anchor(right);
        bottom:anchor(bottom);
        transform: translate(0,0);
        border: white solid 2px;
        border-radius: 10px;
        transition: top 0s linear;
    }
    body:has(.container .project-card .Blur a:hover) #d-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        >i:nth-child(1){
            display: flex;
        }
        >i:nth-child(2){
            display: none;
        }
    }
    body:has(.container .box-icons a:hover) #d-circle{
        position-anchor: --link-hovered;
        top: anchor(top);
        left: anchor(left);
        right:anchor(right);
        bottom:anchor(bottom);
        border-radius: 100%;
        transform: translate(0,0);
        border: white solid 2px;
        transition: top 0s linear;
    }
    body:not(:has(header ul li:hover)):not(:has(a:hover)) #d-circle,
    body:has(.contact-section a:hover) #d-circle{
        font-size: 30px;
        height: 30px;
        width: 30px;
        transition: top 0s linear;
    }
    #d-circle{
        i:nth-child(1){
            font-size: 30px;
            display: none;
        }i:nth-child(2){
            display: flex;
        }
    }
    #circle {
        height: 5px;
        width: 5px;
        display:block;
        position: fixed;
        border-radius: 50%;
        background-color: white;
        transition: box-shadow 0.1s linear;
        transform-origin: center;
        transform: translate(-50%, -50%);
        top: var(--yaxis-) ;
        left: var(--xaxis-) ;
        z-index: 1000;
        pointer-events: none;
    }
    #d-circle{
        display:block;
        position: fixed;
        border-radius: 50%;
        background-color: transparent;
        transition: top 0.1s linear,left 0.1s linear;
        transform-origin: center;
        transform: translate(-50%, -50%);
        top: var(--yaxis-);
        left: var(--xaxis-);
        z-index: 1000;
        pointer-events: none;
    }
}
@media screen and (max-width: 1200px){

    .hero-info h1{
        font-size: 40px;
        max-width: 400px;
        line-height: 40px;
    }

    .hero-info p{
        max-width: 300px;
    }

    .info-cards{
        grid-template-columns: auto;
    }

    .card:nth-child(3){
        grid-column: span 2;
        max-height: 50vh;
    }
    .card:nth-child(3) img{
        height:50%;
    }

    .info-cards .card h1{
        font-size: 20px;
    }
}
@media screen and (orientation: portrait){
    .card:nth-child(3) img{
        height:50%;
        grid-row: span 1;
    }
    .designer-cont{
        max-width:85% !important;
        height:fit-content;
    }
    .coder-cont{
        max-width:85% !important;
        height:fit-content;
    }
}
@media screen and (max-width: 768px){

    header ul{
        display: none;
    }
    .hero-info{
        top: 50%;
        bottom:-2%;
        left:50%;
        transform: translate(-50%,-50%);
        justify-items: center;
        text-align: center;
    }

    .Blur{
        animation: none;
    }
    
    .hero-section{
        flex-direction: column;
        top:0;
        bottom: 0;
        left: 0;
        right:0;
        
    }

    .scroll-icon{
        bottom: 5%;
    }

    .info-cards{
        grid-template-columns: auto;
    }

    
    .card video{
        width: 100%;
    }
    .project-vid-cont{
        width:80%;
    }
    .project-info{
        width:80%;
    }
    .project-info h1{
        text-wrap: nowrap;
        font-size: 20px;
    }
    
    .project-info p{
        font-size: 10px;
        text-wrap: wrap;
    }
    
    .project-info button{
        padding: 5px 10px;
    }
    
    .project-card{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    
    .designer-cont h1{
        margin-bottom: 0;
        font-size:2rem;
    }
    .designer-cont p{
        font-size:0.8rem;
        text-align: start;
    }
    
    .coder-cont h1{
        font-size:2rem;
        margin-bottom: 0;
    }
    .coder-cont p{
        font-size:0.8rem;
        text-align: start;
    }
    
    .slider .list .item img{
        width: 70%;
    }
    
    .contact-section{
        flex-direction: column;
        gap:2rem;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* Sidebar */

    .menu-icon{
        display: flex;
    }


    .sidebar{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 70%;
        width: 0%;
        background-color: #000000b8;
        z-index: 999;
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.479);
        -webkit-backdrop-filter:blur(10px);
        backdrop-filter: blur(10px);
        opacity: 1;
        /* border-bottom-left-radius: 100%; */
        
    }

    .close-icon{
        font-size: 50px;
        color: lightgray;
        padding-left: 10px;
    }

    .sidebar ul{
        padding-left: 20px;
    }

    .sidebar ul li{
        list-style: none;
        margin-bottom: 30px;
    }

    .sidebar ul li a{
        text-decoration: none;
        color: lightgray;
        font-size: 30px;
        font-weight: 900;
        text-shadow:0 0 15px #4c4c4c;
    }

    .social-sidebar{
        padding-left: 20px;
        margin-top: 60px;
        text-wrap: nowrap;
    }

    .social-sidebar a{
        font-size: 35px;
        padding: 5px 5px;
        transition: 0.5s;
    }

    /* Sidebar Open ANimation */
    .sidebar.open-sidebar{
        animation: openSideBarAnimation 1.5s forwards;
    }

    @keyframes openSideBarAnimation {
        to{
            width: 80%;
            opacity: 1;
            bottom: 0;
            border-radius: 0;
        }
    }

    /* Sidebar close ANimation */

    .sidebar.close-sidebar{
        animation: closeSideBarAnimation 1.5s forwards;
    }

    @keyframes closeSideBarAnimation {
        from{
            width: 80%;
            opacity: 1;
            bottom: 0;
            border-radius: 0;
        }
        to{
            width: 0;
            opacity: 0;
            bottom: 70%;
            border-bottom-left-radius: 50%;
        }
    }
}
@media screen and (max-width: 480px) {
    
    .header-left {
        scale: 0.9;
        margin-left: -30px;
    }
    
    .header-left h2 {
        font-size: 20px;
    }
    
    .hero-info h1{
        font-size: 35px;
    }
    
    .section-title {
        font-size: 25px;
    }
    
    .info-cards{
        display: flex;
        flex-direction: column;
    }
    
    .card {
        min-height: 20rem;
    }
    
    .card h1{
        bottom: 30%;
        font-size: 5px;
    }

    .designer-cont{
        max-width:85% !important;
        height:fit-content;
    }
    .coder-cont{
        max-width:85% !important;
        height:fit-content;
    }
    .designer-cont h1{
        margin-bottom: 0;
        font-size:2rem;
    }
    .designer-cont p{
        font-size:0.8rem;
        text-align: start;
    }
    
    .coder-cont h1{
        font-size:2rem;
        margin-bottom: 0;
    }
    .coder-cont p{
        font-size:0.8rem;
        text-align: start;
    }

    .slider{
        bottom: 0%;
    }

    .social-cont{
        width:100%;
    }

}